.wrapper {
  padding-top: 50px;
  background: rgba(178, 139, 230, 0.863);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
  align-content: flex-start;
  overflow: auto;
}
